<div class="machine">
  <div class="row">
    <div class="naming">
      <div class="title">
        Drum&Fun
      </div>
      <div class="sub-title">
        Imagine and create you ideas
      </div>
    </div>
  </div>
  <div class="drums">
    <app-drum-pad soundsSrs="../../assets/audio/kick.wav" keyName="d"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/hat.wav" keyName="f"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/snare.wav" keyName="g"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/CYCdh_VinylK4-Crash01.wav" keyName="h"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/CYCdh_VinylK4-Kick02.wav" keyName="j"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/CYCdh_VinylK4-OpHat01.wav" keyName="k"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/CYCdh_VinylK4-Ride01.wav" keyName="x"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/deep.wav" keyName="c"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/perc1.wav" keyName="v"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/perc2.wav" keyName="b"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/perc3.wav" keyName="n"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/scratch.wav" keyName="m"></app-drum-pad>
  </div>
</div>
