<div class="machine">
  <div class="head">

  </div>
  <div class="drums">
    <app-drum-pad soundsSrs="../../assets/audio/kick.wav"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/hat.wav"></app-drum-pad>
    <app-drum-pad soundsSrs="../../assets/audio/snare.wav"></app-drum-pad>
    <app-drum-pad></app-drum-pad>
    <app-drum-pad></app-drum-pad>
    <app-drum-pad></app-drum-pad>
    <app-drum-pad></app-drum-pad>
    <app-drum-pad></app-drum-pad>
    <app-drum-pad></app-drum-pad>
    <app-drum-pad></app-drum-pad>
    <app-drum-pad></app-drum-pad>
    <app-drum-pad></app-drum-pad>
  </div>
</div>
