.machine {
  margin: 20px;
  background: linear-gradient(to bottom, #7d8590 0%,#828c95 36%,#28343b 100%);
  padding: 25px;
  border-bottom: 20px solid darkgray;
  border-right: 5px solid;
  .drums {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
