@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');

.machine {
  min-width: 600px;
  max-width: 960px;
  margin: 20px;
  background: linear-gradient(to bottom, #7d8590 0%, #828c95 36%, #28343b 100%);
  padding: 25px;
  border-bottom: 20px solid #656464;
  border-right: 5px solid;
  box-shadow: 4px -4px 5px 3px;
  .row {
    margin-bottom: 10px;
    display: flex;

    .naming {
      padding: 10px;
      width: 200px;
      border: 0px solid lighten(hsl(210, 50%, 90%), 2);
      box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 1) inset,
      -3px -3px 8px 1px rgba(247, 251, 255, 0.7) inset;
      border-radius: 10px;
      // Text
      font-family: 'Calligraffitti', cursive;
      text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
      color: #333333;
      text-align: center;

      .title {
        font-size: 2.4em;
        font-weight: bold;
        line-height: 1.4em;
      }
      .sub-title {

      }
    }
    .functionality-row {
      margin-left: 20px;
      display: flex;
      align-items: center;
      .button-title {
        font-family: 'Calligraffitti', cursive;
        text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
        margin-top: 5px;
        font-size: 0.8em;
        text-align: center;
      }
      .metronome-button {
        font-size: 2em;
        button {
          display: inline-block;
          padding: 20px;
          border-radius: 5px;
          background-color: inherit;
          //border: 2px solid;
          border: 2px solid lighten(hsl(196, 7%, 32%), 2);
          box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 1),
          -2px -2px 8px 1px rgba(247, 251, 255, 0.7);
          text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
          color: #333333;
          transition: 150ms ease;
          &:focus {
            outline: none;
          }
        }
        .active {
          border: 2px solid lighten(hsl(2, 83%, 68%), 2);
          box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 1),
          -2px -2px 8px 1px rgba(247, 251, 255, 0.7),
          1px 1px 8px 1px rgb(250, 240, 245) inset,
          -1px -1px 8px 1px rgba(133, 130, 133, 0.97) inset
          3px 3px 8px 1px rgba(0, 0, 0, 1) inset,
          -3px -3px 8px 1px rgba(247, 251, 255, 0.7) inset;
          text-shadow: 1px 2px 2px lighten(hsl(2, 83%, 68%), 2);
          color: lighten(hsl(359, 89%, 51%), 2);
        }
      }
    }
  }
  .drums {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 0px solid lighten(hsl(210, 50%, 90%), 2);
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 1) inset,
    -3px -3px 8px 1px rgba(247, 251, 255, 0.7) inset;
    border-radius: 10px;
    padding: 20px 10px 10px 20px;
  }
}
