.container {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 40px;

  .annotation {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    font-size: 1em;
    font-family: "Comic Sans MS";
    color: lightgrey;
    border: 2px solid lightgrey;
    opacity: 0.2;
  }
}
